# PostgreSQL Config
POSTGRES_DB=somename
POSTGRES_USER=someuser
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Used only by Docker Compose
DB_EXTERNAL_PORT=5555
BACKEND_TAG=dev
FRONTEND_TAG=dev
