# ENV PATH TO LOAD IN base.py
ENV_FILE=.env.backend.local

# Redis Config
REDIS_CACHE_URL=redis://redis:6379/0
REDIS_RATE_LIMIT_URL=redis://redis:6379/1
REDIS_TASK_URL=redis://redis:6379/2
CACHE_KEY_PREFIX=fm:dev

# PostgreSQL Config
POSTGRES_DB=<SOMENAME>
POSTGRES_USER=<User>
POSTGRES_PASSWORD=<Pass>
POSTGRES_HOST=<Host_name>
POSTGRES_PORT=<Port>

# Django required settings
DJANGO_SECRET_KEY=supersecrectkey
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.dev
ALLOWED_HOSTS=localhost,127.0.0.1
DB_EXTERNAL_PORT=<Port>

# Django-environ requires this
DATABASE_URL=postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<POSTGRES_HOST>:5432/<POSTGRES_DB>